<!DOCTYPE html>
<html lang="en">
<head>
  <title>Kitchen Sync</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="data:,">
  <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
  <link rel="icon" href="data:;base64,=">

  <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type = "text/javascript" src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <link href="{{ url_for('static', filename='css/predict_style.css') }}" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nothing+You+Could+Do" rel="stylesheet">



  <link rel="stylesheet" href="{{ url_for('static', filename='css/open-iconic-bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.default.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/aos.css') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/ionicons.min.css') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-datepicker.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.timepicker.css') }}">


  <link rel="stylesheet" href="{{ url_for('static', filename='css/flaticon.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/icomoon.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link href="{{ url_for('static', filename='css/predict_style.css') }}" rel="stylesheet">


  <style>
    .container1 {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      margin: 20px;
    }

    .image-box {
      width: 30%; /* Adjust based on preference */
      padding: 10px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      text-align: center;
    }

    .image-box img {
      width: 100%; /* Makes the image responsive */
      height: auto;
    }

    .hero-image {
      height: 50%;
      background: url('Images/K1.jpg') no-repeat center;
      background-size: cover;
      position: relative;
    }

    .hero-text {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
    }



  </style>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container">
    <a class="navbar-brand" href="/">Kitchen Sync<br></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>
    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active"><a href="/" class="nav-link">Dashboard</a></li>
        <li class="nav-item active"><a href=#Predict class="nav-link">Predict</a></li>
        <li class="nav-item active"><a href="/dashboard" class="nav-link">Pantry</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- END nav -->
<
<section class="home-slider owl-carousel img" style="background-image: url(Images/I2.jpg);">
 <div class="slider-item" style="background-image: url(Images/K1.jpg);">
    <div class="overlay"></div>
    <div class="container">
      <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

        <div class="col-md-7 col-sm-12 text-center ftco-animate">
          <h1 class="mb-4"> </h1>
          <p class="mb-4 mb-md-5"></p>
        </div>

      </div>
    </div>
  </div>

  <div class="slider-item">
    <div class="overlay"></div>
    <div class="container">
      <div class="row slider-text align-items-center" data-scrollax-parent="true">

        <div class="col-md-6 col-sm-12 ftco-animate">
          <h1 class="mb-4">KitchenSync</h1>
          <p class="mb-4 mb-md-5">Input, Inspire, Indulge—Sync Your Staples and Transform Your Meals! </p>
        </div>
        <div class="col-md-6 ftco-animate">
          <img src="/Images/K1.jpg" class="img-fluid" alt="">
        </div>

      </div>
    </div>
  </div><br>
</section>
<!--
  <div class="slider-item">
    <div class="overlay"></div>
    <div class="container">
      <div class="row slider-text align-items-center" data-scrollax-parent="true">

        <div class="col-md-6 col-sm-12 order-md-last ftco-animate">
          <h1 class="mb-4">KitchenSync</h1>
          <p class="mb-4 mb-md-5">Syncing kitchens and efficiency, KitchenSync brings culinary harmony to your home</p>
        </div>
        <div class="col-md-6 ftco-animate">
          <img src="/Images/F1.jpg" class="img-fluid" alt="">
        </div>

      </div>
    </div>
  </div>


<div class="hero-image">
    <div class="hero-text">
      <img src="/Images/K1.jpg">
      <h1 style = "font-size: 50px">KitchenSync</h1>
      <p>Input, Inspire, Indulge—Sync Your Staples and Transform Your Meals!</p>
    </div>
</div>-->


<div class="container1">
  <div class="image-box">
    <h2>Home</h2>
    <a href="/templates/home.html">
      <img src="/Images/K3.jpg" alt="Kitchen Sync">
    </a>
    <p>Sync Up, Dish Out—Perfect Your Kitchen's Rhythm with KitchenSync</p>
  </div>
  <div class="image-box">
    <h2>Predict</h2>
    <a href="/templates/Know_Before_You_Eat.html">
      <img src="/Images/K2.jpg" alt="Kitchen Creativity">
    </a>
    <p>Mix, Match, Marvel—Discover Recipes That Spark Your Kitchen Creativity!</p>
  </div>
  <div class="image-box">
    <h2>Pantry</h2>
    <a href="/templates/Inventory.html">
      <img src="/Images/I1.jpg" alt="Culinary Creativity">
    </a>
    <p>Load Up, Link Up—Sync Your Pantry and Unleash Culinary Creativity</p>
  </div>
</div>


<!--<section class="content">
  <article id="home">
    <h2>Home</h2>
    <p>Sync Up, Dish Out—Perfect Your Kitchen's Rhythm with KitchenSync!</p>
    <a href="{{url_for('home')}}">Home</a>
  </article>
  <article id="predict">
    <h2>Predict</h2>
    <p>Mix, Match, Marvel—Discover Recipes That Spark Your Kitchen Creativity!</p>
    <a href="{{url_for('predictthedish')}}">Predict</a>
  </article>
  <article id="dashboard">
    <h2>Inventory</h2>
    <p>Load Up, Link Up—Sync Your Pantry and Unleash Culinary Creativity</p>
    <a href="{{url_for('pantry')}}">Pantry</a>
  </article>
</section>-->
<footer style="height: 8vh; width: 100vw; background: black; color: white; display: flex; align-items: center; justify-content: center;">
  <h4 style="text-align: center; margin: 0;">&#169; KitchenSync. All rights reserved.</h4>
</footer>


</body>
</html>
