<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inventory</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/Inventory.css') }}" />
  </head>
  <body>
    <nav>
      <h2 class="navtitle">KitchenSync</h2>
      <div>
        <ul>
          <li><a class="navoptions" href="{{url_for('home')}}">Home</a></li>
          <li><a class="navoptions" href="{{url_for('predictthedish')}}">Predict Dish</a></li>
          <li><a class="navoptions" href="{{url_for('logout')}}">Logout</a></li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <h1>Manage Your Inventory</h1>
      <br />
      <form class = "form-container" id="inventoryForm" action="/add_task" method="POST">
      <!--Item Name -->
      <label for ="item_name">Item Name</label>
        <input type="text" id="item_name" name="item_name" placeholder="Item Name" required /><br>
       <!-- Purchase Date -->
       <label for "purchase_date">Purchase Date</label>
        <input type ="date" id = "purchase_date" name = "purchase_date" placeholder = "Purchase Date" required/><br>
        <!-- Expiry Date -->
        <label for = "date" name = "expiry_date">Expiry Date</label>
        <input type="date" name="expiry_date" placeholder="Expiry Date"/><br>
        <!-- Category -->
        <label for = "category">Category</label>
          <input list = "categories" name = "category" id = "category"/>
          <datalist id = "categories" >
              <option value = "Baking"></option>
              <option value = "Grains and Starches"></option>
              <option value = "Oils and Vinegers"></option>
              <option value = "Vegetables"></option>
              <option value = "Frozen Foods"></option>
              <option value = "Meat"></option>
              <option value = "Canned and Jarred Goods"></option>
              <option value = "Condiments and Sauces"></option>
              <option value = "Spices, Herbs and Seasonings"></option>
          </datalist><br>
          <!--  Price -->
          <label for = "price">Price</label>
          <input type = "text" name = "price" placeholder ="$" required/>
        <button class = "button" type="submit">Add Item</button>
      </form>
     
      <h2>Your Inventory List :</h2>
      <br />
      <div class="container2"style="overflow-x:auto;">
        <table id="inventoryTable">
          <thead>
            <tr>
              <th class="tablehead">Item Name</th>
              <th class="tablehead">Expiry Date</th>
              <th class="tablehead">Category</th>
              <th class="tablehead">Price</th>
              <th class="tablehead"></th>
            </tr>
          </thead>
          <tbody>
            {% for item in items %}
            <tr>
              <td class="tablecont">{{ item.item_name }}</td>
              <td class="tablecont">{{ item.expiry_date }}</td>
              <td class="tablecont">{{item.category}}</td>
              <td class="tablecont">{{item.price}}</td>
              <td>
                <button class="deletebtn" onclick="deleteItem('{{ item.id }}')">
                  Delete
                </button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <footer class="footer">
      <h4 class="footertext">Thank you for visiting us !</h4>
    </footer>

    <script>
      document
        .getElementById("inventoryForm")
        .addEventListener("submit", function (event) {
          event.preventDefault(); // Prevent the default form submission

          // Fetch the form data
          var formData = new FormData(this);

          // Send a POST request to the server
          fetch("/add_task", {
            method: "POST",
            body: formData,
          })
            .then((response) => response.json())
            .then((data) => {
              if (data.message === "Item added successfully") {
                alert("Item added successfully");
                location.reload(); // Reload the page to reflect the changes
              } else {
                alert("Error adding item");
              }
            })
            .catch((error) => {
              console.error("Error:", error);
              alert("Error adding item");
            });
        });

      function deleteItem(itemId) {
        if (confirm("Are you sure you want to delete this item?")) {
          fetch("/delete_item", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ item_id: itemId }),
          })
            .then((response) => response.json())
            .then((data) => {
              if (data.message === "Item deleted successfully") {
                location.reload();
              } else {
                alert("Error deleting item");
              }
            })
            .catch((error) => {
              console.error("Error:", error);
              alert("Error deleting item" + error.message);
            });
        }
      }
    </script>
  </body>
</html>
