<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/registerstyles.css') }}" />
  </head>

  <body>
    <nav>
      <h2 class="navtitle">KitchenSync</h2>
      <div>
        <ul>
          <li><a class="navoptions" href="{{url_for('home')}}">Home</a></li>
          </ul>
      </div>
    </nav>
    <div class="container">
      <div class="innercontainer">
        <h2>Sign Up</h2>

        <form method="POST" class="registerform" action="">
          {{ form.hidden_tag() }} {{ form.username }} {{ form.password }} {{
          form.submit }}
        </form>

        <a href="{{ url_for('login') }}">Already have an account? Log In</a>
      </div>
    </div>
    <footer>
      <h4>Thank you for visiting us !</h4>
    </footer>
  </body>
</html>
