.maincontainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #c9e0c2;
  justify-content: space-around;
}
.inputdiv {
  width: 70vw;
  height: 20vh;
  background-color: bisque;
  border: 2px solid brown;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 5px grey;
}

.additemform {
  display: flex;
  justify-content: space-between;
  width: 27vw;
  align-items: center;
}

.displaydiv {
  width: 70vw;
  height: 40vh;
  overflow-y: auto;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 3px 5px grey;
  background-color: #dee0f7;
}

input {
  width: 15vw;
  height: 3vh;
  background-color: white;
  padding: 10px;
  border-radius: 15px;
}

.addtaskbtn {
  width: 8vw;
  border-radius: 15px;
  height: 4vh;
}

.comptask {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20vw;
  height: auto;
  padding: 1.5vh;
  border: 1px solid green;
  background-color: #fff;
}

.deltaskbtn {
  background-color: rgb(171, 188, 119);
  height: 0.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8vw;
  border-radius: 15px;
  height: 4vh;
}
