<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/loginstyles.css') }}" />
  </head>

  <body>
    <div>
      <nav>
        <h2>KitchenSync</h2>
      </nav>
      <div class="container">
        <div class="innercontainer">
          <h2>Sign In</h2>
          <form method="POST" action="" class="loginform">
            <div>{{ form.hidden_tag() }}</div>
            <div>{{ form.username }}</div>
            <div>{{ form.password }}</div>
            <div>{{ form.submit }}</div>
          </form>

          <a href="{{ url_for('register') }}">Don't have an account? Sign Up</a>
        </div>
      </div>
      <footer>
        <h4>Thank you for visiting us !</h4>
      </footer>
    </div>
  </body>
</html>
